<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Courses - Eduverse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="../static/eduverse-logo.png" alt="Eduverse" class="header-img">
        <h1 class="header-text">Eduverse</h1> 
        <nav>
            <ul>
                <li><a href="homepg2.html">Home</a></li>
                <li><a href="#">Courses</a></li>
            </ul>
        </nav>
    </header>

    <section class="all-courses">
        <h2>All Courses</h2>
        <div class="course">
            <img src="../static/web-dev.webp" alt="Web Development">
            <h3>Introduction to Web Development</h3>
            <p>Learn the basics of web development with HTML, CSS, and JavaScript.</p>
            <a href="#" class="btn">Enroll Now</a>
        </div>
        <div class="course">
            <img src="../static/psychology.webp" alt="Psychology">
            <h3>Introduction to Psychology: Understanding the Human Mind</h3>
            <p>Explore the fascinating world of psychology and gain insights into human behavior.</p>
            <a href="#" class="btn">Enroll Now</a>
        </div>
        <div class="course">
            <img src="../static/per-fin.jpg" alt="Finance">
            <h3>Personal Finance Management: Strategies for Financial Success</h3>
            <p>Take control of your finances and plan for a secure financial future.</p>
            <a href="#" class="btn">Enroll Now</a>
        </div>
        <div class="course">
            <img src="../static/graphic-des.jpg" alt="Graphic Design">
            <h3>Graphic Design Essentials</h3>
            <p>Master the fundamentals of graphic design and unleash your creativity.</p>
            <a href="#" class="btn">Enroll Now</a>
        </div>
        <div class="course">
            <img src="../static/python-course.webp" alt="Python Programming">
            <h3>Python Programming for Beginners: Learn Python from Scratch</h3>
            <p>Start your journey into the world of programming with Python.</p>
            <a href="#" class="btn">Enroll Now</a>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Eduverse Clone. All rights reserved.</p>
    </footer>
</body>
</html>
