<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduverse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="../static/eduverse-logo.png" alt="Eduverse" class="header-img">
        <h1 class="header-text">Eduverse</h1> 
        <nav>
            <ul>
                <li><a href="{{ url_for('home_page') }}">Home</a></li>
                <li><a href="{{ url_for('courses') }}">Courses</a></li> 
                <li><a href="{{ url_for('profile') }}">Profile</a></li> 
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h2>Explore a World of Knowledge</h2>
        <p>Explore thousands of courses taught by top instructors.</p>
        <a href="{{ url_for('courses') }}" class="btn">Browse All Courses</a> 
    </section>

    <section class="featured-courses">
        <h2>Featured Courses</h2>
        <div class="course">
            <img src="../static/psychology.webp" alt="{{ session['courses_data'][0][1] }}">
            <h3>{{ session['courses_data'][0][1] }}</h3>
            <p>{{ session['courses_data'][0][2] }}</p>
            <a href="{{ url_for('course_psych') }}" class="btn">View</a>
        </div>

        <div class="course">
            <img src="../static/per-fin.jpg" alt="{{ session['courses_data'][1][1] }}">
            <h3>{{ session['courses_data'][1][1] }}</h3>
            <p>{{ session['courses_data'][1][2] }}</p>
            <a href="{{ url_for('course_perfin') }}" class="btn">View</a>
        </div>

        <div class="course">
            <img src="../static/graphic-des.jpg"  alt="{{ session['courses_data'][2][1] }}">
            <h3>{{ session['courses_data'][2][1] }}</h3>
            <p>{{ session['courses_data'][2][2] }}</p>
            <a href="{{ url_for('course_graphicdes') }}" class="btn">View</a>
        </div>

    </section>

    <footer>
        <p>&copy; 2024 Eduverse. All rights reserved.</p>
    </footer>
</body>
</html>