<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Add the link to your CSS file here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="eduverse-logo.png" alt="Eduverse" class="header-img">
            <h1 class="header-text">User Profile</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home_page') }}">Home</a></li>
                    <li><a href="{{ url_for('courses') }}">Courses</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="profile-section">
        <div class="user-details">
            <h2>User Information</h2>
            <p><strong>Name:</strong> {{ user['name'] }}</p>
            <p><strong>Email:</strong> {{ user['email'] }}</p>
            <p><strong>Username:</strong> {{ user['username'] }}</p>
        </div>
       <!-- <div class="enrolled-courses">
            <h2>Enrolled Courses</h2>
            <ul>
                {% for course in user['enrolled_courses'] %}
                    <li>{{ course }}</li>
                {% endfor %}
            </ul>
        </div>-->
    </section>
</body>
</html>
